In [109]:
import pandas as pd

from matplotlib import pyplot as plt

from sklearn.preprocessing import LabelEncoder

In [127]:
dateColumnNames = ['contact_date','Glycemie_der_date','HbA1c_der_date','der_date_poids','der_date_taille','first_contact_date']

dfView = pd.read_csv('PatientsHTA.zip',nrows=1)
df = pd.read_csv('PatientsHTA.zip',engine='c',parse_dates=dateColumnNames)

# Suppression des lignes trop peu nombreuses

Nous souhaitons faire un apprentissage en utilisant la dimension temporelle comme filtre pour le CNN. Pour ça il faut donc que nous ayons plusieurs entrée. Avant de commencer à traîter les données nous supprimons donc toutes les lignes qui n'ont pas plusieurs entrées de ```person_id```. Nous choisissons arbitrairement que pour être utile à l'apprentissage, il faut au moins 10 entrées dans cette colonne

In [111]:
valueCounts = df.person_id.value_counts()
dfEnought = df[df.person_id.isin(valueCounts[valueCounts.values >= 10].index)]

# Suppression des colonnes innutiles

## Suppression de ```Age_now```

Nous pouvons supprimer la colonne ```Age_now``` car les données qu'elle contient sont identique à celles de la colonne ```year_of_birth```

In [133]:
dfWithoutAgeNow = dfEnought.drop('Age_now', axis='columns')

## Suppression de ```contact_id```

In [135]:
dfWithoutContactID = dfWithoutAgeNow.drop('contact_id',axis='columns')

## Suppression des noms de médicaments

In [114]:
dfGroupedByMoleculeLabel = dfWithoutContactID.groupby('product_atc_code')[['molecule_label','short_name','long_name','Classe','product_atc']].count()
dfGroupedByMoleculeLabel

                  molecule_label  short_name  long_name  Classe  product_atc
product_atc_code
C02AC06                     2276        2276       2276    2276         2276
C03BX03                      655         655        655     655          655
C03CA01                      402         402        402     402          402
C03DA01                       86          86         86      86           86
C03DA04                       10          10         10      10           10
C03EA04                        3           3          3       3            3
C03EB01                       10          10         10      10           10
C07AB03                     3380        3380       3380    3380         3380
C07AB04                       34          34         34      34           34
C07AB07                     3042        3042       3042    3042         3042
C07AB12                      348         348        348     348          348
C07DB01                       10          10         10      10           10
C08CA01                      319         319        319     319          319
C08DB01                       51          51         51      51           51
C09AA02                       19          19         19      19           19
C09AA03                       18          18         18      18           18
C09AA04                      528         528        528     528          528
C09AA05                      134         134        134     134          134
C09AA06                       10          10         10      10           10
C09BA04                      569         569        569     569          569
C09CA01                      175         175        175     175          175
C09CA03                     1399        1399       1399    1399         1399
C09CA04                      200         200        200     200          200
C09CA06                      576         576        576     576          576
C09CA07                       31          31         31      31           31
C09DA01                      232         232        232     232          232
C09DA03                     1222        1222       1222    1222         1222
C09DA04                      243         243        243     243          243
C09DB04                     3137        3137       3137    3137         3137
C09XA02                       21          21         21      21           21
C09XA52                       93          93         93      93           93

Nous voyons que les différentes colonnes de noms de médicaments sont identiques, nous pouvons donc n'en garder qu'une seule. Nous choisirons de garder ```product_atc_code```

In [115]:
dropColumnNames = dfGroupedByMoleculeLabel.columns.to_list()
dfWithATCCode = dfWithoutContactID.drop(dropColumnNames, axis='columns')

In [137]:
dfWithATCCode

,person_id,specialty_label,contact_date,cip,dosage_1,dose_1,dose_2,product_atc_code,box,quantity,...,HbA1c_der_date,HbA1c_der_mesure,gender_code,Age_presc,year_of_birth,Poids,der_date_poids,Taille,der_date_taille,first_contact_date
8,27746613.0,Médecin généraliste,2013-05-15,3.400960e+12,300.0,16800.0,56.0,C09XA02,3.0,1.00,...,NaT,NaN,M,93.0,1920.0,75.0,2016-02-11,166.0,2014-06-05,2012-10-17
9,27746613.0,Médecin généraliste,2014-12-19,3.400960e+12,300.0,16800.0,56.0,C09XA02,4.0,1.00,...,NaT,NaN,M,94.0,1920.0,75.0,2016-02-11,166.0,2014-06-05,2012-10-17
12,27746613.0,Médecin généraliste,2013-06-14,3.400960e+12,300.0,16800.0,56.0,C09XA02,3.0,1.00,...,NaT,NaN,M,93.0,1920.0,75.0,2016-02-11,166.0,2014-06-05,2012-10-17
24,27746613.0,Médecin généraliste,2013-01-10,3.400960e+12,300.0,16800.0,56.0,C09XA02,3.0,1.00,...,NaT,NaN,M,93.0,1920.0,75.0,2016-02-11,166.0,2014-06-05,2012-10-17
32,27746613.0,Médecin généraliste,2013-12-30,3.400960e+12,300.0,16800.0,56.0,C09XA02,3.0,1.00,...,NaT,NaN,M,93.0,1920.0,75.0,2016-02-11,166.0,2014-06-05,2012-10-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50621,14936234.0,Médecin généraliste,2016-09-11,3.400940e+12,500.0,15000.0,30.0,C03CA01,1.0,1.00,...,NaT,NaN,M,81.0,1935.0,63.8,2017-07-27,162.0,2011-11-07,2002-09-24
50622,14936234.0,Médecin généraliste,2016-11-16,3.400940e+12,500.0,15000.0,30.0,C03CA01,1.0,1.00,...,NaT,NaN,M,81.0,1935.0,63.8,2017-07-27,162.0,2011-11-07,2002-09-24
50625,26636453.0,Médecin généraliste,2016-11-16,3.400940e+12,500.0,15000.0,30.0,C03CA01,1.0,0.75,...,2017-10-03,5.60,M,79.0,1937.0,83.9,2018-02-21,NaN,NaT,2012-02-14
50627,18889430.0,Médecin généraliste,2013-02-01,3.400940e+12,500.0,15000.0,30.0,C03CA01,1.0,0.50,...,2017-05-15,8.01,M,85.0,1928.0,NaN,NaT,NaN,NaT,2007-12-02
50632,18889430.0,Médecin généraliste,2013-01-24,3.400940e+12,500.0,15000.0,30.0,C03CA01,1.0,0.50,...,2017-05-15,8.01,M,85.0,1928.0,NaN,NaT,NaN,NaT,2007-12-02

## Suppression des colonnes ```'*der*'```

Les colonnes ```*der*``` contiennent la dernière données. Cette donnée peut être récupérée grâce à la date de la visite et à aux valeurs mesurées. Par exemple, il n'est pas nécessaire d'avoir une colonne ```der_date``` ou ```der_mesure```. Les données de ces deux types de colonnes peuvent être récupéré grâce à la ligne qui correspond à la dernière date de la mesure, que l'on peut trouver grâce à la colonne ```contact_date```

In [117]:
derColumnNames = []

for c in dfWithATCCode.columns:
    if ('der_date' in c) or ('der_mesure' in c):
        derColumnNames.append(c)

dfWithoutDer = dfWithATCCode.drop(derColumnNames,axis='columns')

# Traîtement des données

## Conversion des données

### Ajout du temps entre chaque visite (ce que l'on veut prédire)

In [155]:
wait_time = dfWithoutDer.contact_date - dfWithoutDer.first_contact_date
wait_time = wait_time.dt.total_seconds() / (24 * 3600)
dfWithoutDer['wait_time'] = wait_time

### Encodage des valeurs non numériques

In [156]:
specialtyEncoder = LabelEncoder()
ATCCodeEncoder = LabelEncoder()
genderEncoder = LabelEncoder()
frequencyLabelEncoder = LabelEncoder()

dfWithoutDer.specialty_label = specialtyEncoder.fit_transform(dfWithoutDer.specialty_label)
dfWithoutDer.product_atc_code = ATCCodeEncoder.fit_transform(dfWithoutDer.product_atc_code)
dfWithoutDer.frequency_label = frequencyLabelEncoder.fit_transform(dfWithoutDer.frequency_label.astype(str))
dfWithoutDer.gender_code = ATCCodeEncoder.fit_transform(dfWithoutDer.gender_code)

### Conversion en ```TimeSeries```

on définit simplement le nouvel index comme la colonne donnant l'intervalle de temps entre chaque visite

In [157]:
ts = dfWithoutDer.drop(['person_id','first_contact_date'],axis='columns').set_index(dfWithoutDer.contact_date).drop('contact_date',axis='columns')

# Prédiction

In [158]:
ts

,specialty_label,cip,dosage_1,dose_1,dose_2,product_atc_code,box,quantity,frequency_label,duration,...,Tension Diastolique,Tension Systolique,Glycemie_prescription,HbA1c_prescription,gender_code,Age_presc,year_of_birth,Poids,Taille,wait_time
contact_date,,,,,,,,,,,,,,,,,,,,,
2013-05-15,2,3.400960e+12,300.0,16800.0,56.0,29,3.0,1.00,0,168.0,...,125.0,70.0,NaN,NaN,1,93.0,1920.0,75.0,166.0,210.0
2014-12-19,2,3.400960e+12,300.0,16800.0,56.0,29,4.0,1.00,0,224.0,...,135.0,75.0,NaN,NaN,1,94.0,1920.0,75.0,166.0,793.0
2013-06-14,2,3.400960e+12,300.0,16800.0,56.0,29,3.0,1.00,0,168.0,...,130.0,73.0,NaN,NaN,1,93.0,1920.0,75.0,166.0,240.0
2013-01-10,2,3.400960e+12,300.0,16800.0,56.0,29,3.0,1.00,0,168.0,...,148.0,77.0,NaN,NaN,1,93.0,1920.0,75.0,166.0,85.0
2013-12-30,2,3.400960e+12,300.0,16800.0,56.0,29,3.0,1.00,0,168.0,...,130.0,80.0,NaN,NaN,1,93.0,1920.0,75.0,166.0,439.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-09-11,2,3.400940e+12,500.0,15000.0,30.0,2,1.0,1.00,0,28.0,...,112.0,61.0,NaN,NaN,1,81.0,1935.0,63.8,162.0,5101.0
2016-11-16,2,3.400940e+12,500.0,15000.0,30.0,2,1.0,1.00,0,28.0,...,108.0,61.0,NaN,NaN,1,81.0,1935.0,63.8,162.0,5167.0
2016-11-16,2,3.400940e+12,500.0,15000.0,30.0,2,1.0,0.75,0,28.0,...,120.0,60.0,NaN,NaN,1,79.0,1937.0,83.9,NaN,1737.0
2013-02-01,2,3.400940e+12,500.0,15000.0,30.0,2,1.0,0.50,0,28.0,...,120.0,70.0,NaN,NaN,1,85.0,1928.0,NaN,NaN,1888.0
2013-01-24,2,3.400940e+12,500.0,15000.0,30.0,2,1.0,0.50,0,28.0,...,120.0,70.0,NaN,NaN,1,85.0,1928.0,NaN,NaN,1880.0